venv/
data/*
python_env/
test_env/
checkpoints/i*
checkpoints/o*
checkpoints/r*
checkpoints/s*
checkpoints/t*
checkpoints/PROD/
__pycache__
# ignore .egg-info files #TODO: This is not working - find out why 

